[Unit]
Description=Squey login handler for NICE DCV
Requires=dcvserver.service
After=dcvserver.service
After=dcvsimpleextauth.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/opt/squey/squey/dcvlogin/dcvlogin.py

[Install]
WantedBy=multi-user.target
