Makefile
build
inspector.sh
*/tests/bin
*/tests/*/bin
.gdb_history
third-party/*

#Ignore doxygen compile documentation
collection.qhc
doxygen_sqlite3.db
*/doc/html/
*/doc/tags
/flatpak/build/
/flatpak/.flatpak-builder/
/flatpak/repo
/.flatpak-builder/
/flatpak/
.cproject
.project
.settings/
release_build/
/external/
/debug_build/
.vscode/
