[submodule "external/type_safe"]
	path = external/type_safe
	url = https://github.com/foonathan/type_safe
[submodule "libpvcop"]
	path = libpvcop
	url = git@gitlab.srv.picviz:picviz/libpvcop.git
    	branch = master
[submodule "inendi-utils"]
	path = inendi-utils
	url = git@gitlab.srv.picviz:picviz/inendi-utils.git
	branch = master
[submodule "furl"]
	path = furl
	url = git@gitlab.srv.picviz:picviz/furl.git
	branch = master
[submodule "libpvkernel/plugins/common/pcap/LightPcapNg"]
	path = libpvkernel/plugins/common/pcap/LightPcapNg
	url = https://github.com/rvelea/LightPcapNg
[submodule "doc"]
	path = doc
	url = git@gitlab.srv.picviz:picviz/inendi-inspector-manual.git
[submodule "tests"]
	path = tests
	url = git@gitlab.srv.picviz:picviz/inendi-inspector-testsuite.git
[submodule "buildstream/scripts/ostree-releng-scripts"]
	path = buildstream/scripts/ostree-releng-scripts
	url = https://github.com/ostreedev/ostree-releng-scripts.git
[submodule "buildstream/plugins/bst-external"]
	path = buildstream/plugins/bst-external
	url = https://gitlab.com/BuildStream/bst-external.git
[submodule "external/breakpad"]
	path = external/breakpad
	url = ssh://git@gitlab.srv.picviz/picviz/breakpad
