Makefile
builds/
squey.sh
*/tests/bin
*/tests/*/bin
.gdb_history
third-party/*
buildstream/.venv
buildstream/flatpak_repo/
buildstream/files/org.squey.Squey.metainfo.xml
.bst/
.bst2/

#Ignore doxygen compile documentation
collection.qhc
doxygen_sqlite3.db
*/doc/html/
*/doc/tags
.cproject
.project
.settings/
/external/

buildstream/sshd/sshd_config
buildstream/sshd/ssh_host_dsa_key
buildstream/sshd/ssh_host_dsa_key.pub
buildstream/sshd/ssh_host_rsa_key
buildstream/sshd/ssh_host_rsa_key.pub
buildstream/sshd/sshd.log
buildstream/sshd/sshd.pid

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/.cmaketools.json

