[submodule "external/type_safe"]
	path = external/type_safe
	url = https://github.com/foonathan/type_safe
[submodule "libpvcop"]
	path = libpvcop
	url = ../libpvcop.git
[submodule "squey-utils"]
	path = squey-utils
	url = ../utils.git
[submodule "furl"]
	path = furl
	url = ../furl.git
[submodule "tests"]
	path = tests
	url = ../squey-testsuite.git
[submodule "buildstream/plugins/bst-external"]
	path = buildstream/plugins/bst-external
	url = https://gitlab.com/BuildStream/bst-external.git
[submodule "external/breakpad"]
	path = external/breakpad
	url = ../breakpad
