<jbleonesio@squey.org> <jbleonesio@picviz.com>
<jbleonesio@squey.org> <jbleonesio@u.picviz>
<jbleonesio@squey.org> <jean-baptiste@leonesio.fr>
<jbleonesio@squey.org> <jean-baptiste.leonesio@esi-group.com>
<jbleonesio@squey.org> <jbleonesio@cns-com.com>
<jbleonesio@squey.org> <jean-baptiste+squey@leonesio.fr>
<constantin@vurli.fr> <cvurli@u.picviz>
<constantin@vurli.fr> <cvurli@stagiaire-01>
