<jean-baptiste+squey@leonesio.fr> <jbleonesio@picviz.com>
<jean-baptiste+squey@leonesio.fr> <jbleonesio@u.picviz>
<jean-baptiste+squey@leonesio.fr> <jean-baptiste@leonesio.fr>
<jean-baptiste+squey@leonesio.fr> <jean-baptiste.leonesio@esi-group.com>
<jean-baptiste+squey@leonesio.fr> <jbleonesio@cns-com.com>
<constantin@vurli.fr> <cvurli@u.picviz>
<constantin@vurli.fr> <cvurli@stagiaire-01>
