<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2015 ESI Group <jean-baptiste+squey@leonesio.fr> -->
<component type="desktop-application">
  <id>org.squey.Squey</id>
  <developer id="org.squey">
    <name>Squey</name>
  </developer>
  <metadata_license>FSFAP</metadata_license>
  <project_license>MIT</project_license>
  <name>Squey</name>
  <summary>Explore your data</summary>

  <description>
    <p>
        Squey allows any user to perform interactive explorations over very large amounts of data.
        Thanks to its innovative set of visualisations, the user is freed from the classical burden of query-based interactions and can then use all his logical and deductive power to discover valuable insights from the data.
        The ability to correlate several datasets with different structures permits to intuitively understand the causal chains over the course of the whole life cycle of the studied product.
        It can be used for different purposes:
    </p>
    <ul>
      <li>Initial understanding of large and complex datasets</li>
      <li>Isolating weak signals very efficiently</li>
      <li>Controlling and improving Machine Learning algorithms</li>
    </ul>
  </description>

  <categories>
    <category>Science</category>
    <category>Graphics</category>
    <category>Network</category>
    <category>Education</category>
    <category>Utility</category>
  </categories>

  <launchable type="desktop-id">org.squey.Squey.desktop</launchable>

  <screenshots>
    <screenshot type="default">
      <caption>Squey main window</caption>
      <image>https://gitlab.com/squey/squey/-/raw/main/squey_screenshot.png</image>
    </screenshot>
  </screenshots>

  <url type="homepage">https://squey.org</url>
  <url type="vcs-browser">https://gitlab.com/squey/squey</url>
  <url type="bugtracker">https://gitlab.com/squey/squey/-/issues</url>
  <url type="help">https://doc.squey.org</url>
  <url type="contribute">https://gitlab.com/squey/squey/-/blob/main/CONTRIBUTING.md</url>

  <project_group>SQUEY</project_group>

  <content_rating type="oars-1.1" />

  <releases>
    <release version="{{version}}" date="{{date}}">
        <description>
          {{changelog}}
        </description>
    </release>
  </releases>

</component>
