[Unit]
Description=Umount /proc/driver/nvidia which prevent flatpak containers to run
After=dcvsession.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/bin/umount -l /proc/driver/nvidia

[Install]
WantedBy=multi-user.target
