[Unit]
Description=Squey Docker container
After=docker.service
Requires=docker.service

[Service]
Environment=PATH=/usr/bin
Environment=DOCKER=systemd-docker
Environment=DOCKER_OPTS="--cgroups name=systemd"
TimeoutStartSec=0
Restart=always
ExecStart=/opt/squey/squey/run.sh
ExecStop=/usr/bin/docker stop squey
ExecStopPost=/usr/bin/docker rm -f squey

[Install]
WantedBy=multi-user.target
