[Unit]
Description=NICE DCV session launcher for Inspector
After=dcvserver.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=inspector
ExecStart=/usr/bin/dcv create-session --type=virtual --user=inspector --owner=inspector --gl on --init /etc/dcv/dcvsessioninit dcv_session
ExecStop=/usr/bin/dcv close-session dcv_session

[Install]
WantedBy=multi-user.target
