body {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

b {
  font-weight: bold;
  color: #951b81;
}

p {
  text-align: left;
  font-weight: bold;
  color: #951b81;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #951b81;
}

table {
  font-size: 14px;
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

td.shortcuts {
  text-align: right;
}

div {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 16px;
}

div > div {
  display: table-cell;
  border: 0;
  padding: 4px 8px;
  margin-bottom: 0;
}
